@model testwebmvc.Context.User
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div style="margin-left:320px;">
    <h2>User Details</h2>
    <dl class="dl-horizontal">
        <dt>Firstname</dt>
        <dd>@Html.DisplayFor(model => model.Firstname)</dd>
        <dt>Lastname</dt>
        <dd>@Html.DisplayFor(model => model.Lastname)</dd>
        <dt>Email</dt>
        <dd>@Html.DisplayFor(model => model.Email)</dd>
        <dt>Is Admin?</dt>
        <dd>@Html.DisplayFor(model => model.IsAdmin)</dd>
    </dl>

    @Html.ActionLink("Edit", "Edit", new { id = Model.id }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</div>